<%= form_with(model: friend) do |form| %>
  <div class="card mb-4">
    <div class="card-body">
      <% if friend.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h4>
          <ul>
            <% friend.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-2">
        <%= form.label :first_name, class: "form-label" %>
        <%= form.text_field :first_name, class: "form-control" %>
      </div>

      <div class="mb-2">
        <%= form.label :last_name, class: "form-label" %>
        <%= form.text_field :last_name, class: "form-control" %>
      </div>

      <div class="mb-2">
        <%= form.label :email, class: "form-label" %>
        <%= form.text_field :email, class: "form-control" %>
      </div>

      <div class="mb-2">
        <%= form.label :phone, class: "form-label" %>
        <%= form.text_field :phone, class: "form-control" %>
      </div>

      <div class="mb-2">
        <%= form.label :"User ID", class: "form-label" %>
        <%= form.number_field :user_id, id: :friend_user_id, class: "form-control", readonly: true, value: current_user.id %>
      </div>
      <div>
        <%= form.submit "Save Changes", class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
<% end %>
